

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Tabela Fato</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mdbTable class="table table-striped w-auto">
              <thead class=" text-primary">
                      <th >ID Fato</th>
                      <th>ID Organização</th>
                      <th>ID Endereço</th>
                      <th>ID Serviço</th>
                      <th>ID Tempo</th>
                      <th>Total Registros</th>
                      <th>Perda m³</th>
                      <th class="text-right">Perda Financeira</th>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let i of listaAnalises">
                      <td>{{i.idFato}}</td>
                      <td>{{i.idOrganizacao}}</td>
                      <td>{{i.idEndereco}}</td>
                      <td>{{i.idServico}}</td>
                      <td>{{i.idTempo}}</td>
                      <td>{{i.total}}</td>
                      <td>{{i.perdaAgua.toFixed(2)}}</td>
                      <td>R$ {{i.perdaFinanceira.toFixed(2)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
  