<div class="panel-header panel-header-sm">
</div>
<div class="main-content">      
  <div class="card ">
      <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1UXjgw-glcmTcuKVeBILprpxLegy2Rebh" width="1120" height="960"></iframe> -->
    <div class="card-body "> 
      <div class="row">
        <div class="col-md-12">
            Mapa das Perdas
            
          <div class="card ">
              <div id="map" class="map"></div> 
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>    
 