<div class="panel-header panel-header-sm">
</div>
<div class="main-content">      <div class="card ">
     <div class="card-header ">
      <!-- Mapa das Perdas -->
    </div>
      <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1UXjgw-glcmTcuKVeBILprpxLegy2Rebh" width="1120" height="960"></iframe> -->
    <div class="card-body "> 
   <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Mapa das Perdas
        </div>
        <div class="card-body ">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </div> 
</div>
 
</div> 
</div>